.page{
    width: calc(100vw - 17px);
    margin:auto;
    
}


ul.product_list{
    width: 1005px;
    margin:auto;
}


li.item_1 {
    width: 502px;
    height: 700px;
}

li.item_2 {
    width: 251px;
    height: 350px;
    left: 502px;
}


li.item_3 {
    width: 251px;
    height: 350px;
    left: 753px;
}

li.item_4 {
    width: 502px;
    height: 350px;
    left:502px;
    top: 350px;
}

li.item_5 {
    width: 502px;
    height: 600px;
    left: 0;
    top: 700px;
}
li.item_6 {
    width: 251px;
    height: 300px;
    left: 500px;
    top: 700px;
}

li.item_7 {
    width: 251px;
    height: 300px;
    left:753px;
    top: 700px;
}


li.item_8 {
    width: 504px;
    height: 300px;
    left:500px;
    top: 1000px;
}
.menu__wrapper{
   
    width: 100vw;
    margin:auto;
}
.mobile-navigation-wrapper{
    display:none;
}


/* ========= FOOTER ========= */

.footer-mobile {
    
    top:0;
    position: relative;
    height: 150px;
    margin: auto;
    width: calc(100vw - 17px);
    margin-bottom: 10px;
   
}
.footer-mobile__wrapper{
    margin-top: 10px;
    display:flex;
    flex-direction: column;

    /* height: 100%; */
}

.footer-mobile-top,
.footer-mobile-bottom
{
    display:flex;
    flex-direction: column;
   
    width: 100%; 
    margin-top: 56px;
   
}

.footer-mobile-top{
    margin-top:5px;
}



.footer-mobile_center{
    width: 260px;
    height: 140px;
   background-image: url('../../img/logo.png');
   background-size: 100%;
   background-repeat: no-repeat;
   background-position: center;
   margin:auto
    
}

.footer-element{
    height: 25px;
    line-height: 25px;
    margin-left:5px;
    margin-top:5px;
    text-align: center;
}

.footer-element-first{
    margin-top: 15px;
    font-weight: bold;
}

.social-media-buttons-for-mobile-footer{
    display:flex;
    justify-content: space-around;
    border-top: 1px solid grey;
    width: 60%;
    margin:auto;
    margin-top: 10px;


}

.facebook-button-footer,
.instagram-button-footer{
    justify-content: space-between;
    color:black;
    height: 40px;
    width: 40px;
}

.fa-facebook-square-footer,
.fa-instagram-footer{
    color:black;
    
}

