
* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

:root {
    --item-width: calc(100% - 10px);
    --item-height: calc(100% - 10px);
}

.hidden {
    display: none;
}

@font-face {
    font-family: 'leagueSpartan';
    src: url('/fonts/LeagueSpartan-Bold.otf')
}

.page {
    position: relative;
}



.main_page_content_wrapper {
    display:flex;
    flex-direction: column;
    position: relative;
    top: 90px;
    color: black;
    
    margin:auto;
}

.about_projectstone{
    width: calc(100vw - 17px);
    margin:auto;
    text-align: center;
}

.logo_projectstone{

    width: 260px;
    height: 140px;
    margin:auto;
    background-image: url('../../img/main-site/logo-main-site.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    

}



.product {
    
    display: block;
    border: 1px solid lightgrey;
    list-style: none;
}

.product:hover {
    
    border: 1px solid black;
} 


.item_1_background,
.item_2_background,
.item_3_background,
.item_4_background,
.item_5_background,
.item_6_background,
.item_7_background,
.item_8_background,
.item_9_background {
    position: relative;
    width: var(--item-width);
    height: var(--item-height);
    margin: 5px;
    background-size: cover;;
}

.white {
    position : absolute;
    background-color: #fff;
    height: 100%;
    width: 100%;
    top:0;
    opacity:0.7;
}







.button {
    position: absolute;
    width: 100px;
    height: 32px;
    border: 1px solid black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 32px;
    text-transform: uppercase;
    font-size: 12px;
}



h1.item_description {
    text-transform: uppercase;
    text-align: center;
    font-size: 1rem;
    font-weight: normal;
    line-height: 40px;
    color: grey;
}



.item_1_background {
       width: var(--item-width);
    height: var(--item-height);
    margin: 5px;
    background-image: url('../../img/main-site/ambiente-cuarzo-reno-120x120-ok_web.jpg');
}


.item_description_wrapper {
    position: relative;
    width: 100%;
    top: 450px;
    height: 40px;
    background-color: #fff;
    margin: auto;
}



.item_2_background {
    width: var(--item-width);
    height: var(--item-height);
    margin: 5px;
    background-image: url('../../img/main-site/amb-loire-arena_web.jpg');
    
}



.item_3_background {
    background-image: url('../../img/main-site/ambiente-artic-antracita-80x160_web.jpg');
    
}


.item_4_background {
    background-image: url('../../img/main-site/detalle-gala-balnco-31-5x100-penelope-blanco-31-5x100_web.jpg');
    
}


.item_5_background {
    background-image: url('../../img/main-site/Ragno_Look_011.jpg.1920x0_q75_crop.jpg');
}



.item_6_background {
    background-image: url('../../img/main-site/amb-grespania-patagonia-casta-o_web.jpg');
}



.item_7_background {
    background-image: url('../../img/main-site/c.abadia-fuego_web.jpg');
}



.item_8_background {
    background-image: url('../../img/main-site/volcano-web.jpg');
}

.footer {
    
    position:absolute;
    height: 150px;
    width: 100vw;
    padding: auto;
    background-color: grey;
    top:4080px;
}




.social_media_buttons{
    display:none;
}


ul.product_list{
    display:flex;
    flex-direction: column;
    width: calc(100vw - 17px);
    margin:auto;

}



.product_list li{
    margin: 5px auto 5px auto;
    width: 100vw;
    height: 500px;
    width: calc(100vw - 17px);

}

.product{
    
    width: calc(100vw - 17px);
    
    
}


.footer{
    
    top:0;
    position: relative;
    height: 150px;
    margin: auto;
    width: calc(100vw - 17px);
    margin-bottom: 10px;
    background-color: #fff;
   
}
.footer-wrapper{
    margin-top: 10px;
    display:flex;
    flex-direction: column;
  
}

.footer-top

{
    display:flex;
    flex-direction: column;
    width: 100%; 
    margin-top: 56px;
   
}

.footer-mobile-top{
    margin-top:5px;
}



.footer-mobile_center{
    width: 260px;
    height: 140px;
   background-image: url('../../img/logo.png');
   background-size: 100%;
   background-repeat: no-repeat;
   background-position: center;
   margin:auto
    
}

.footer-element{
    height: 25px;
    line-height: 25px;
    margin-left:5px;
    margin-top:5px;
    text-align: center;
}

.footer-element-first{
    margin-top: 15px;
    font-weight: bold;
}

.social-media-buttons-for-mobile-footer{
    display:flex;
    justify-content: space-around;
    border-top: 1px solid grey;
    width: 60%;
    margin:auto;
    margin-top: 10px;


}

.facebook-button-footer,
.instagram-button-footer{
    justify-content: space-between;
    color:black;
    height: 40px;
    width: 40px;
}

.fa-facebook-square-footer,
.fa-instagram-footer{
    color:black;
    
}
