
* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

:root {
    --item-width: calc(100% - 10px);
    --item-height: calc(100% - 10px);
}

.hidden {
    display: none;
}

@font-face {
    font-family: 'leagueSpartan';
    src: url('/fonts/LeagueSpartan-Bold.otf')
}

.page {
    position: relative;
}



.main_page_content_wrapper {
    display:flex;
    flex-direction: column;
    position: relative;
    top: 80px;
    color: black;
    height: 1800px;
    margin:auto;
}



.product {
    
    display: block;
    border: 1px solid lightgrey;
    list-style: none;
}

.product:hover {
    cursor: pointer;
    border: 1px solid black;
}



.button {
    position: absolute;
    width: 100px;
    height: 32px;
    border: 1px solid black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 32px;
    text-transform: uppercase;
    font-size: 12px;
}

.item_1_background,
.item_2_background,
.item_3_background,
.item_4_background,
.item_5_background,
.item_6_background,
.item_7_background,
.item_8_background,
.item_9_background {
    width: var(--item-width);
    height: var(--item-height);
    margin: 5px;
    background-size: cover;;
}

h1.item_description {
    text-transform: uppercase;
    text-align: center;
    font-size: 1rem;
    font-weight: normal;
    line-height: 40px;
    color: grey;
}



.item_1_background {
       width: var(--item-width);
    height: var(--item-height);
    margin: 5px;
    background-image: url('/img/main-site/ambiente-cuarzo-reno-120x120-ok_web.jpg');
}


.item_1_descritpion {
    position: relative;
    width: 100%;
    bottom:0;
    height: 40px;
    background-color: #fff;
    margin: auto;
}



.item_2_background {
    width: var(--item-width);
    height: var(--item-height);
    margin: 5px;
    background-image: url('/img/main-site/amb-loire-arena_web.jpg');
    
}



.item_3_background {
    background-image: url('/img/main-site/ambiente-artic-antracita-80x160_web.jpg');
    
}


.item_4_background {
    background-image: url('/img/main-site/detalle-gala-balnco-31-5x100-penelope-blanco-31-5x100_web.jpg');
    
}


.item_5_background {
    background-image: url('/img/main-site/Ragno_Look_011.jpg.1920x0_q75_crop.jpg');
}



.item_6_background {
    background-image: url('/img/main-site/amb-grespania-patagonia-casta-o_web.jpg');
}



.item_7_background {
    background-image: url('/img/main-site/c.abadia-fuego_web.jpg');
}



.item_8_background {
    background-image: url('/img/main-site/volcano-web.jpg');
}

.footer {
    
    
    height: 150px;
    width: calc(100vw - 17px);
    margin: auto;
    background-color: grey;
}









/* ====================== */


ul.product_list{
    display:flex;
    flex-direction: column;
    width: calc(100vw - 17px);

}

.product_list li{
    margin: 5px auto 5px auto;
    width: 100vw;
    height: 500px;
    width: calc(100vw - 17px);

}

.product{
    
    width: calc(100vw - 17px);
    
    
}
