* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
   
}
.hidden{
    display:none;
}


.page_wrapper{
    width: 100vw;
}


.inspirations_sidebar{
position: fixed;
display: flex;
flex-direction: row;
justify-content: space-around;
width: 100vw;
top: 100px;
height: 30px;
}

.mobile_hidden{
    display: none;
}

.styles,
.colours{
background-color: black;
color:white;
line-height: 30px;
padding-left: 20px;
padding-right: 20px;
text-align: center;
border-radius: 4px;
}

.styles_wrapper,
.colour_wrapper{
    display: flex;
    position: fixed;
    flex-direction: column;
    background-color: black;
   margin-top: 5px;
   border-radius: 4px;
   padding-left: 10px;
   padding-right: 10px;
   z-index:3;
  }

.styles_wrapper{
    left: -120px;
}

.colour_wrapper{
    right: -120px;
}


.open_styles{
    animation : open-styles 0.3s forwards ;
}

.close_styles{
    animation : close-styles 0.3s forwards ;
}

.open_colours{
    animation : open-colours 0.3s forwards ;
}

.close_colours{
    animation : close-colours 0.3s forwards ;
}


.inspirations_content{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top:150px;
    display : flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.inspirations_content-tile{
    margin:5px;
    width: 40vw;
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
}






.social_media_buttons{
    display: none;
}

.back-to-top{
    right: 10px;
    bottom: 10px;
  
}

@keyframes open-styles {
       
        100%{
            left: 10px;
        
    }
    }

@keyframes close-styles {
    0%{
        left: 10px;
    }
       
        100%{
            left: -120px;
        }
    }

@keyframes open-colours{
    100%{
        right: 10px;
    }
}

@keyframes close-colours{

    0%{
        right: 10px;
    }
    100%{
        right: -120px;
    }
}
  